<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mario.lacrim">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_herradura2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_herradura2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Presentacion"></activity>

        <activity android:name=".ListarEquinosPesebrera"></activity>
        <activity
            android:name=".SeleccionarEquino"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity android:name=".DatosPesebrera" />
        <activity android:name=".DetallePesebrera" />
        <activity android:name=".CrearPesebrera" />
        <activity android:name=".Detalle_premiacion" />
        <activity android:name=".Crear_premio_equino" />
        <activity android:name=".PerfilUsuario" />
        <activity android:name=".Informacion" />
        <activity android:name=".Detalle_alimentacion" />
        <activity android:name=".Crear_alimento_equino" />
        <activity android:name=".Alimentacion" />
        <activity android:name=".Premiacion" />
        <activity
            android:name=".Datos_generales"
            android:label="@string/title_activity_datos_generales"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Login" />
        <activity android:name=".Crear_usuario" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Crear_equino"
            android:label="Crear equino" />
        <activity android:name=".Detalle_equino" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>