<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mario.lacrim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_herradura2"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_herradura2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Presentacion"></activity>

        <activity android:name=".ListarEquinosPesebrera"></activity>
        <activity
            android:name=".SeleccionarEquino"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity android:name=".DatosPesebrera"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".DetallePesebrera"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".CrearPesebrera"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Detalle_premiacion"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Crear_premio_equino"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".PerfilUsuario"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Informacion" />
        <activity android:name=".Detalle_alimentacion"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Crear_alimento_equino"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Alimentacion"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Premiacion"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Datos_generales"
            android:label="@string/title_activity_datos_generales"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Login"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Crear_usuario"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".MainActivity"

            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Crear_equino"
            android:label="Crear equino"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Detalle_equino"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Splash"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>